[2019-03-28 13:09] pmeems commented on #151
@zcwbnu As requested by Jerry could you post the code and attach the file you are trying to read?

And since this is a question or help request, can you repost on our forum: https://mapwindow.discourse.group/c/mapwingis

[2019-03-28 13:20] pmeems commented on #143
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 13:20] #143 closed, assigned to nobody

[2019-03-28 13:21] pmeems commented on #140
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 13:21] #140 closed, assigned to nobody

[2019-03-28 13:38] pmeems commented on #133
Do you still have problems with mbtiles?

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 13:38] #133 closed, assigned to nobody

[2019-03-28 13:52] pmeems commented on #131
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 13:52] #131 closed, assigned to nobody

[2019-03-28 13:53] pmeems commented on #130
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 13:53] #130 closed, assigned to nobody

[2019-03-28 13:57] pmeems commented on #129
This might also be related to the properties [DownsamplingMode](https://www.mapwindow.org/documentation/mapwingis4.9/group__image__visualization.html#gad5d85520a27370130f4bf95048f8047f) and [UpsamplingMode](https://www.mapwindow.org/documentation/mapwingis4.9/group__image__visualization.html#ga85fc9fc8a33691982ff7e7df7bbe21ae) of the Image class.

I'm closing this issue.
If needed you can repost a

[2019-03-28 13:57] #129 closed, assigned to nobody

[2019-03-28 13:58] pmeems commented on #128
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 13:58] #128 closed, assigned to nobody

[2019-03-28 13:59] pmeems commented on #127
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 13:59] #127 closed, assigned to nobody

[2019-03-28 14:00] pmeems commented on #126
At this moment MapWinGIS cannot draw curves because we internally use the Shapefile object to represent vector data. The shapefile object is not capable of curves.

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 14:00] #126 closed, assigned to nobody

[2019-03-28 14:03] pmeems commented on #125
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 14:03] #125 closed, assigned to nobody

[2019-03-28 14:03] pmeems commented on #124
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 14:03] #124 closed, assigned to nobody

[2019-03-28 14:05] pmeems commented on #122
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 14:05] #122 closed, assigned to nobody

[2019-03-28 14:10] pmeems commented on #118
I created https://mapwindow.atlassian.net/browse/MWGIS-156 for this.
The following weeks we will be trying to compile MapWinGIS with VS2017, without any tricks like using the VS2015 SDK ;)

For now I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 14:10] #118 closed, assigned to nobody

[2019-03-28 14:14] pmeems commented on #115
@HollidayHT Are you still having problems with this?

And be aware you're exposing your email address when you reply this comment via email.
It is better to go to GitHub and add a comment.

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 14:14] #115 closed, assigned to nobody

[2019-03-28 14:54] pmeems commented on #114
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 14:54] #114 closed, assigned to nobody

[2019-03-28 15:03] pmeems commented on #113
I see this JIRA issue was created: https://mapwindow.atlassian.net/browse/MWGIS-136
Not sure if it was fixed or not. I have asked Jerry about it.

[2019-03-28 15:08] pmeems commented on #110
I created https://mapwindow.atlassian.net/browse/MWGIS-157 for this, so we don't forget.

[2019-03-28 15:10] pmeems commented on #108
This fix is in v5.0 and further.

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:10] #108 closed, assigned to nobody

[2019-03-28 15:12] pmeems commented on #107
The ogr driver is setting a max. of 50,000 features. It does not know how many features are available.
In your code you could do a 'Select count ...' first to get the number of features.

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:12] #107 closed, assigned to nobody

[2019-03-28 15:16] pmeems commented on #103
You need a webserver to get the tiles from, but when you have the tiles you don't need to tiles nor a internet connection.
I've used it on a laptop outdoors without a remote connection.
First I downloaded the tiles in the office and later I can use the tiles in the field.

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:16] #103 closed, assigned to nobody

[2019-03-28 15:17] #102 closed, assigned to nobody

[2019-03-28 15:18] pmeems commented on #96
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:18] #96 closed, assigned to nobody

[2019-03-28 15:19] pmeems commented on #95
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:19] #95 closed, assigned to nobody

[2019-03-28 15:19] pmeems commented on #93
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:19] #93 closed, assigned to nobody

[2019-03-28 15:23] pmeems commented on #92
I'm sorry I completely forgot to follow up on this issue.

Can you explain a bit more what needs to be changed?
Or even better create a pull request (against the dev-branch)?

[2019-03-28 15:26] pmeems commented on #90
@jerryfaust Did we even merged these changes?
And do we have a JIRA issue? I can't find it.

[2019-03-28 15:28] pmeems commented on #89
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:28] #89 closed, assigned to nobody

[2019-03-28 15:33] pmeems commented on #86
Sorry for the very late reply.
In case you still need this.
Please have a look at [GetCurrentScale()](https://github.com/MapWindow/MapWinGIS/blob/master/src/Control/Map_Scale.cpp#L371)

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:33] #86 closed, assigned to nobody

[2019-03-28 15:36] pmeems commented on #85
Did you even found the time to look at this in depth?

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:36] #85 closed, assigned to nobody

[2019-03-28 15:38] pmeems commented on #83
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:38] #83 closed, assigned to nobody

[2019-03-28 15:40] pmeems commented on #82
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:40] #82 closed, assigned to nobody

[2019-03-28 15:41] pmeems commented on #81
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:41] #81 closed, assigned to nobody

[2019-03-28 15:45] pmeems commented on #78
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:45] #78 closed, assigned to nobody

[2019-03-28 15:47] pmeems commented on #77
`ICallback` is an interface, so you need to [implement](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/interfaces/) it, not inherit it.

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:47] #77 closed, assigned to nobody

[2019-03-28 15:52] pmeems commented on #76
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:52] #76 closed, assigned to nobody

[2019-03-28 15:53] pmeems commented on #75
Sorry for not getting back to you.
Did you ever got it working?

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:53] #75 closed, assigned to nobody

[2019-03-28 15:56] pmeems commented on #72
We've made a lot of UNICODE changes in the latest versions of MapWinGIS.
Can you check with the recent version of MapWinGIS is you still have this problem?

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:56] #72 closed, assigned to nobody

[2019-03-28 15:57] pmeems commented on #71
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:57] #71 closed, assigned to nobody

[2019-03-28 15:59] pmeems commented on #70
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 15:59] #70 closed, assigned to nobody

[2019-03-28 16:00] pmeems commented on #65
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:00] #65 closed, assigned to nobody

[2019-03-28 16:01] pmeems commented on #64
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:01] #64 closed, assigned to nobody

[2019-03-28 16:02] pmeems commented on #62
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:02] #62 closed, assigned to nobody

[2019-03-28 16:03] pmeems commented on #63
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:03] #63 closed, assigned to nobody

[2019-03-28 16:04] #60 closed, assigned to nobody

[2019-03-28 16:05] pmeems commented on #59
Is this still a problem with the latest version of MapWinGIS?

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:05] #59 closed, assigned to nobody

[2019-03-28 16:08] pmeems commented on #58
It seems this has been fixed: https://mapwindow.atlassian.net/browse/MWGIS-123

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:08] #58 closed, assigned to nobody

[2019-03-28 16:11] pmeems commented on #57
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:11] #57 closed, assigned to nobody

[2019-03-28 16:12] pmeems commented on #56
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:12] #56 closed, assigned to nobody

[2019-03-28 16:13] pmeems commented on #55
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:13] #55 closed, assigned to nobody

[2019-03-28 16:14] pmeems commented on #54
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:14] #54 closed, assigned to nobody

[2019-03-28 16:15] pmeems commented on #53
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:15] #53 closed, assigned to nobody

[2019-03-28 16:16] pmeems commented on #51
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:16] #51 closed, assigned to nobody

[2019-03-28 16:17] pmeems commented on #50
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:17] #50 closed, assigned to nobody

[2019-03-28 16:18] pmeems commented on #48
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:18] #48 closed, assigned to nobody

[2019-03-28 16:18] pmeems commented on #46
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:18] #46 closed, assigned to nobody

[2019-03-28 16:20] pmeems commented on #37
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:20] #37 closed, assigned to nobody

[2019-03-28 16:22] pmeems commented on #36
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:22] #36 closed, assigned to nobody

[2019-03-28 16:23] pmeems commented on #42
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:23] #42 closed, assigned to nobody

[2019-03-28 16:24] pmeems commented on #30
Is this still an issue with the latest version of MapWinGIS?

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:24] #30 closed, assigned to nobody

[2019-03-28 16:25] pmeems commented on #29
Is this still an issue with the latest version of MapWinGIS?

I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:25] #29 closed, assigned to nobody

[2019-03-28 16:27] pmeems commented on #27
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:27] #27 closed, assigned to nobody

[2019-03-28 16:27] pmeems commented on #25
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:27] #25 closed, assigned to nobody

[2019-03-28 16:28] pmeems commented on #18
I'm closing this issue.
If needed you can repost at our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis)

[2019-03-28 16:28] #18 closed, assigned to nobody

[2019-03-30 19:12] jerryfaust commented on #30
I have confirmed that this is no longer an issue.

[2019-03-30 19:26] jerryfaust commented on #29
This is no longer an issue with the latest code.  When drawing to a removed (Cleared) drawing layer, the call returns -1, as it should, and the error code/string indicates an invalid layer handle.

[2019-03-31 00:46] jerryfaust commented on #90
Specified changes (plus a few) have now been integrated.  Done, assigned to [MWGIS-158](https://mapwindow.atlassian.net/browse/MWGIS-158);

[2019-03-31 00:46] jerryfaust commented on #90
Closing this issue.

[2019-03-31 00:46] #90 closed, assigned to nobody

[2019-03-31 02:46] jerryfaust commented on #124
I believe this was ultimately resolved by [MWGIS-112](https://mapwindow.atlassian.net/browse/MWGIS-112).

[2019-03-31 22:36] jerryfaust commented on #113
This issue has been resolved by [MWGIS-118](https://mapwindow.atlassian.net/browse/MWGIS-118), and [MWGIS-136](https://mapwindow.atlassian.net/browse/MWGIS-136) will remain open to address further optimizations and standardization of the geometry methods in the library.

[2019-03-31 22:36] #113 closed, assigned to nobody

[2019-04-04 08:25] frank2x460 opened #153 "Error while building with VS2015 or VS2017"
When compiling on VS 2015 or VS 2017 the following error occurs:

Fehler	C3861	"inserter": Bezeichner wurde nicht gefunden.	MapWinGIS	D:\Apps\MapWinGIS-master\src\Tiles\TileManager.cpp	533

in English:

Error	C3861	"inserter": identifier not found	MapWinGIS	D:\Apps\MapWinGIS-master\src\Tiles\TileManager.cpp	533

What to do?

[2019-04-04 17:18] jerryfaust commented on #153
I checked the line of code; the 'inserter' is a part of the c++ Standard Library.  So if it cannot be found within either IDE, I wonder if there is something not fully set up or installed on your build machine?

Regards.
Jerry.

[2019-04-05 07:11] frank2x460 commented on #153
Hello Jerry,

after adding
 #include <iterator>
in the file "TileManager.cpp"
and using the libs, headers and binaries from
release-1900-gdal-2-3-3-mapserver-7-2-1.zip and
release-1900-gdal-2-3-3-mapserver-7-2-1-libs.zip,
the project compiles properly in VS 2015 as well as in VS 2017!
The output is exact the same as the files in your installer package 5.0.1!
No we can research our problems with th

[2019-04-06 18:15] pmeems opened #154 "[Tutorial] Compiling MWGis in VS2017"
In this video I show how you can compile MapWinGIS using VS2017:
https://youtu.be/x1J6xJno9kM

The links I used are:
* VS2017: https://visualstudio.microsoft.com/downloads/
* SourceTree: https://www.sourcetreeapp.com/
* GISInternals: http://gisinternals.com/
* MapWinGIS Github: https://github.com/MapWindow/MapWinGIS
* MapWinGIS API documentation: https://www.mapwindow.org/documentation/mapwingis4.

[2019-04-06 18:17] pmeems commented on #153
I just posted a video showing how you can compile MapWinGIS using VS2017:
https://youtu.be/x1J6xJno9kM

[2019-04-06 18:17] #153 closed, assigned to nobody

[2019-04-09 05:28] BrendanM-RSA opened #155 "5.0.1 not working 100% with VB6"
I have been using MapWinGIS for a number of years with Vb6. Decided to upgrade to 5.0.1. On one of my more simpler projects the new MapWinGIS seesm to work but nit 100%.

There are some issues

**To Reproduce**
Create a VB6 project, blank form with Map1 on it. Form code as below:

Private sf1 As New MapWinGIS.Shapefile
Private Sub Form_Load()
  ' sf1 does not show any properties in the VB6 IDE
  C

[2019-04-09 06:15] jerryfaust commented on #155
Hello @BrendanM-RSA

I'm sorry but I'm not able to reproduce this, coded exactly as you have.
- What service pack is installed for VB (I'm running SP4).
- I presume that you added the Map to the toolbox window, then added it from the toolbox?
- It's actually complaining about the Map extents rather than the Shapefile extents.
- I'm not sure what you mean by 'sf1 does not have any properties in the

[2019-04-09 06:34] BrendanM-RSA commented on #155
Runing VB6 SP6

Map was added to toolbox and then to the form as you said.

sf1 no properties - at your breakpoint at End Sub if you add a Watch to sf1 - then I get no properties listed. As per my original screen grab

Only thing that I can think of is that this PC had the old MapWinGIS on it. I initially ran the 5.0.1 installer on top of it. When I saw the errors I uninstalled 5.0.1 (which cleare

[2019-04-09 06:35] BrendanM-RSA commented on #155
Re-open

[2019-04-10 10:21] frank2x460 commented on #155
Same or similar Problem here, after update from 4.9.3 but different errormessage:
![grafik](https://user-images.githubusercontent.com/34651007/55870423-d47aac80-5b88-11e9-88ca-6c5125df1615.png)
De-/installation and cleaning registry with no success.
What to do further.

VB6 SP6
Windows 10 PRO (1703)

[2019-04-10 10:31] frank2x460 commented on #155
Sorry, the "SET" Instruction was wrong, now same errormessage:
![grafik](https://user-images.githubusercontent.com/34651007/55872080-620bcb80-5b8c-11e9-860f-1e4729792e1b.png)
No problems with 4.9.5!

[2019-04-10 10:44] BrendanM-RSA commented on #155
If you have a MapWinGIS ShapeFile in VB6 can you see the runtime properties of it when you create a Watch for it in the IDE?

[2019-04-10 11:06] frank2x460 commented on #155
The extents object shows no properties (xmin,ymin,.....) when creating a watch!

[2019-04-10 11:13] BrendanM-RSA commented on #155
Without doing a test we can probably surmise that in the VB6 runtime IDE no object properties can be viewed in the Watch window

[2019-04-10 17:05] jerryfaust commented on #155
Hello @BrendanM-RSA , @frank2x460 ,

I'm not sure what's going on.  We have an older app that first moved to MapWinGIS at 4.9.x.  I've recently updated to 5.0.1, still with no problem.  Here's a screenshot just after assigning the Extents.  It does appear that the Watch window, at least the the Extents, is worthless.  At any rate, we'll have to try to figure out what's different...  One thing that

[2019-04-11 16:27] frank2x460 opened #156 "Transparent Image from WMS hides other image-Layer"
When adding a transparent image (png) from an WMS Service (layer position 10 (top))
and adding a additional image layer on layer position 0 (bottom) the image on layer 0 is covered by the image on layer 10. All the layers between (1-9, point or polyline layers) are no covered!

When adding Tiles from a Tileserver (e.g. OSM) the Tiles can be seen too!

Why is the second image covered by the transpa

[2019-04-12 03:38] wangxiya opened #157 "Failure to read data from ogrlayer.getBuffer() Method!"
I open dataset fileGDB, and I get layers and fields information of each layer. But when I want get data of layer, It always return empty shapefile!

in pascal:
aLayer := aDatasource.GetLayer(aLayerIndex, False);
aLayerFeatureCount := aLayer.FeatureCount[True];
aLayer.DynamicLoading := False;
aLayer.MaxFeatureCount := aLayerFeatureCount + 100;
FFileShp := aLayer.GetBuffer;
for I := 0 to FFileShp.Nu

[2019-04-12 14:12] wangxiya opened #158 "I want contribute my code of gdalinfo() and ogrinfo()"
I have changed the code of ogrinfo and gdalinfo , to output message with json format. will someone want it?

[2019-04-12 19:06] jerryfaust commented on #158
Yes.  All contributions are appreciated.  This would typically be done by creating a Pull Request against the 'develop' branch.  Would you do that?

[2019-04-13 02:10] wangxiya opened #159 "The potential risk of shape.importfromwkt()"
OLE2A(str) has limit of length of str, it is 4k, when I import a multipolygon from wkt, Sometime the length of wkt will break 4k。

code：
STDMETHODIMP CShape::ImportFromWKT(BSTR Serialized, VARIANT_BOOL *retVal)
{
	AFX_MANAGE_STATE(AfxGetStaticModuleState())
	*retVal = VARIANT_FALSE;

	USES_CONVERSION;
	CString ser = OLE2A(Serialized);

	OGRGeometry* oGeom = NULL;
	char* buffer = ser.GetBuffer();

[2019-04-13 02:12] wangxiya commented on #158
I use RapidJson package to output json, Shall I push the rapidjson to develop branch?

[2019-04-13 02:14] wangxiya commented on #157
or my code is wrong ？
Has someone help me?
thanks!

[2019-04-13 09:44] pmeems commented on #159
Thanks for taking the time to report this.

You can make a pull request against the develop branch.
We will investigate it and merge it.

[2019-04-13 09:51] pmeems commented on #157
Can you share a sample GDB so we can debug?
I'm missing in your code how you are connecting to the GDB-file, but at first sight I don't see anything wrong.
But I must say, I don't have experience with GDB-files.

Perhaps you can also use [AddLayerFromDatabase()](https://www.mapwindow.org/documentation/mapwingis4.9/group__map__layer__management.html#ga3672fae9774e0bbb917ab23e13855ebe)

[2019-04-13 11:48] wangxiya commented on #157
When I open shape file (*.shp) with the same way, the FFileShp.NumShapes is zero too!  I watch the memory before and after getBuffer(),  the memory going up before getbuffer() and going down after getbuffer() rapidly!

[2019-04-13 11:50] wangxiya commented on #157
My GDB file is huge! about 1G, it is not easy to share with internet! please use shp file! thanks !

[2019-04-14 09:17] wangxiya commented on #157
My mistake,  aLayer is local variance, FFileShp is global variance of unit, when alayer release , the buffer is release too!
thanks a lot for everyone!

[2019-04-14 09:17] #157 closed, assigned to pmeems

[2019-04-14 10:20] wangxiya opened #160 "The Error of COgrLayer::LoadShapefile()"
The error of COgrLayer::LoadShapefile()

old version:
[code]

new version:
[code]

I don't know whether I modify correctly!

[2019-04-14 13:42] wangxiya commented on #158
I try pull the develop branch , and I update shape.cpp and ogrLayer.cpp, but github reply to me :
Permission to MapWindow/MapWinGIS.git denied to wangxiya.
What shall I do?

[2019-04-15 06:46] pmeems commented on #157
I need a few days to write some sample code for you.
I normally don't use `GetBuffer()`
For shapefiles I use `sf.Open(....)` and `sf.NumShapes`

[2019-04-25 13:23] pmeems commented on #158
Is this still an issue? I saw you made pull request #161

And regarding json export of gdalinfo. This is already possible with [gdalinfo](https://gdal.org/gdalinfo.html) Do we really need RapidJson for this as well?

[2019-04-25 13:29] pmeems commented on #160
I saw you made pull request #161
I've asked @jerryfaust to review.

[2019-04-25 13:33] pmeems commented on #156
Thanks Frank for reporting this.

I will need to investigate this more closely.

[2019-05-06 06:26] trustuser opened #162 "How can I load tiles non SphericalMercator?"
I add tile:
`Map.Tiles.Providers.Add(
      providerId,
      'MyLocalTile',
      'http://localhost?x={x}&y={y}&z={zoom}',
      SphericalMercator , 1, 28
    );
`
Position tile incorrect on then map; Tile is shifted a few kilometers.
` // select only  2 variants
type
  tkTileProjection = TOleEnum;
const
  SphericalMercator = $00000000;
  Amersfoort = $00000001;`

need wgs84Mercator

For example,

[2019-05-06 07:04] pmeems commented on #162
It is better to ask questions at our forum: https://mapwindow.discourse.group/

When you set the map projection to `wgs84Mercator` the tiles should be reprojected on the fly.

[2019-05-06 07:04] #162 closed, assigned to pmeems

[2019-06-01 14:36] zcwbnu opened #164 "Thread cannot exit normally in MFC MDI mode!"
I create a new MFC multi-document program, which can normally exit.  Then dynamically add mapwingis control in view, I found program can't exit when closing the main frame window.

![微信图片_20190601224131](https://user-images.githubusercontent.com/18117662/58749930-6c788080-84be-11e9-9629-dfe0db612483.jpg)

[2019-06-02 17:35] jerryfaust commented on #164
Inability to exit would tend to indicate that the map reference is not being released.  Are you releasing the Map reference at shutdown?

[2019-06-02 22:55] zcwbnu commented on #164
@jerryfaust Yes, I deleted the variable “m_pMap”  and I found   the number of threads reduced by 1. Howerver，The program still has 6 threads(MFC UI threads)  and I can't close the 6 threads by Closing the window.  If I  didn't create the map control dynamically，MFC UI threads can exit normally.

I just created an empty MFC multi-document framework with VS2015 and added the following code.
CRect rc

[2019-06-03 14:29] zcwbnu commented on #164
I found threads exit normal after add a map layer. It's Very strange.

[2019-06-03 19:21] jerryfaust commented on #164
It's interesting that you mention that.

I recently noticed an issue when loading the map, then closing without loading any layers, an Exception is thrown in `CMapWinGISApp::ExitInstance()`.  This only occurs in the Debug build.  I have fixed this bug (although I have not yet checked it in).

Are you running a Debug build of the Map OCX?  Perhaps it is related to this bug.

[2019-06-05 14:24] zcwbnu commented on #164
This problem exists in both debug and release mode

[2019-06-05 14:45] zcwbnu opened #165 "How to tell if the image is elevation or image？"
Satellite imagery is tif format data, elevation data is also a tif format，how to know which mode to load?

[2019-06-06 11:30] pmeems commented on #165
Can you ask your question again at our forum: https://mapwindow.discourse.group/
This issue list is for issues only.

[2019-06-06 11:30] #165 closed, assigned to nobody

[2019-06-06 11:31] #159 closed, assigned to pmeems

[2019-06-06 11:31] #158 closed, assigned to nobody

[2019-06-06 13:03] #164 closed, assigned to nobody

[2019-06-17 10:48] mtrfnv1 opened #166 "System.AccessViolationException after EditAddShape"
I need to programmatically add a point to the map, and then build a polygon, starting from this point. That is, to build a polygon began from the second point

I tried to execute the code below:

[code]

I see my point on map, but after this instantly I get System.AccessViolationException error. What am I doing wrong?

**UPD:** When I select a point or line as a shape type, this error does not occ

[2019-06-19 08:03] mathijs-dumon commented on #166
Do you mean you want to provide the user with the starting point and let him/her finish it?
If so - I had a similar requirement and with the latest development build of mapwingis I can do this:

   axMap.MapCursor = MapCursor.AddShape;
   axMap.StartNewBoundShape(layerHandle);
   axMap.ShapeEditor.AddPoint(point);

However this is probably not available in the released build yet.

also you should

[2019-06-19 08:06] mathijs-dumon commented on #166
Also created a ticket for this in our Jira: https://mapwindow.atlassian.net/browse/MWGIS-174

[2019-06-21 15:15] pmeems commented on #166
Since a JIRA ticket is made and the discussion is moved to the discussion forum: https://mapwindow.discourse.group/t/system-accessviolationexception-after-editaddshape/196/3
I'm closing this issue.

[2019-06-21 15:15] #166 closed, assigned to nobody

[2019-06-24 02:39] liyihongcug opened #167 "Can It run in BS ?"
Can It run in BS (not in desktop version )?

[2019-06-24 07:48] pmeems commented on #167
Can you explain a bit more what you mean by BS?
And it is better to ask questions at our forum: https://mapwindow.discourse.group/

[2019-06-24 07:48] #167 closed, assigned to nobody

[2019-07-01 12:21] frank2x460 opened #168 "Reproject WMS Image"
Is it possible to reproject a WMS Image, which has been aquired from WMS Server with a different Geoprojection because the server does not supports our Projection?
Is it possible to save the image to disc?  The "save"-Method only saves the XML-File specified for the download!

[2019-07-09 18:56] mathijs-dumon commented on #160
Closing as the pull request was closed

[2019-07-09 18:56] #160 closed, assigned to pmeems

[2019-07-09 19:01] mathijs-dumon commented on #44
Closing as indicated in Jira this is solved: https://mapwindow.atlassian.net/browse/MW5CORE-205

[2019-07-09 19:01] #44 closed, assigned to nobody

[2019-07-19 08:46] weskerjiang opened #169 "how to use with VS2017"
I want to create an application with MapWinGIS using WinForm,i want add the ocx file into the toolbox,but it saies   MapWinGIS.ocx regiested failed.Then I tried using the command regsvr32,it succeed,but i still can't add it into the toolbox.So what should i do?
All i done with Administrator

[2019-07-19 17:04] jerryfaust commented on #169
Hello @weskerjiang

Did you build the OCX or did you run one of the installers from [here](https://github.com/MapWindow/MapWinGIS/releases)?

What version of the OCX are you using?

Thanks.

[2019-07-20 00:27] weskerjiang commented on #169
Hello @jerryfaust
I've download the file from https://github.com/MapWindow/MapWinGIS/releases.My version is v5.0.1,the file is MapWinGIS-only-v5.0.1.0-x64.exe

[2019-07-20 00:40] jerryfaust commented on #169
Ok.  I believe the issue is with the 64-bit OCX.  Perhaps @pmeems can confirm this, but you need to put the 32-bit OCX on the development machine since Visual Studio can't load a 64-bit OCX.  You can then build a 64-bit exe, and run it on a machine that you've installed the 64-bit OCX.

[2019-07-22 01:42] weskerjiang commented on #169
Thanks,I've solved this problem

[2019-07-22 12:42] weskerjiang opened #170 "How to identify multiple shapes"
Hello!I want identify multiple shapes in one time,so i find AxMap has two events,[ShapeIdentified] and [ShapesIdentified].But when i identify shapes,it only get into the ShapeIdentified event.i've set the mode to [tkIdentifierMode.imAllLayers].So what should i do?Thanks!

[2019-07-22 21:17] jerryfaust commented on #170
Hello.
I found a similar issue that was addressed on the MapWindow forum.  Check out this link and see if your question is answered.  In short, you can use the ShapeIdentified event, and within that event, ask for all selected Shapes.

[https://mapwindow.discourse.group/t/how-to-identify-a-shapefile-layer/155](https://mapwindow.discourse.group/t/how-to-identify-a-shapefile-layer/155)

[2019-07-23 01:54] ZiYou2333 commented on #68
Who can help me,"var cellvalues = sf.get_CellValue(i, shpIndex).ToString();" get the corresponding value in the table through this code, Chinese cannot be displayed properly, what is the reason for this?thank you @pmeems

[2019-07-23 02:04] ZiYou2333 opened #171 "Get DBF file inside the Chinese data content, display garbled code"
I'm not using the database, I'm just accessing the local file, and I'm using get_cellvalue to get the value of the corresponding table in the property sheet, and when the value in the table is in Chinese, there will be random codes, and the random codes will appear when I get the value

[2019-07-23 02:07] ZiYou2333 commented on #171
`var cellvalues = sf.get_CellValue(i, shpIndex).ToString();`This is my code to get the contents of the table

[2019-07-23 02:35] weskerjiang opened #172 "How to open *.mwprj file"
Hello,how to open a *.mwprj file?Thanks

[2019-07-23 12:18] weskerjiang opened #173 "does MapWinGIS support WMTS?"
I want to add a wmts service into the application,but i don't know how to add it.I find MapWindow only support wms

[2019-07-23 20:01] jerryfaust commented on #171
Hello @ZiYou2333

Do you know if the strings are encoded in UTF-8 format (the default if no code page is provided)? or is there a CodePage file (.CPG) for the Shapefile you're reading?  If neither of these it true, you may need to provide a CodePage file, which is just
1. a text file having the same name as the shapefile, but with a CPG extension
2. that contains the code of the [code page](https:

[2019-07-25 06:38] pmeems commented on #173
WMTS is not (yet) implemented in MapWinGIS.
I see it is supported in GDAL: https://gdal.org/drivers/raster/wmts.html so it could be added.
All we need is a volunteer to implement it.

Please ask questions at our forum: https://mapwindow.discourse.group/ and keep GitHub for real issues.

[2019-07-25 06:38] #173 closed, assigned to nobody

[2019-07-25 14:41] zcwbnu opened #174 "How to change the up and down relationship between sqlite layer and image layer？"
I have loaded the .db3 data and .tif data, how to adjust the layer position?

[2019-07-25 14:54] zcwbnu opened #175 "Can mapwingis preprocess large images into tiles or caches?"
I have a 2 gb satellite image, mapwingis is very slow when  loading , can it be preprocessed to tile or cache by mapwingis？

[2019-07-28 11:56] #174 closed, assigned to nobody

[2019-08-03 16:29] jerryfaust commented on #172
Hello @weskerjiang
Sorry for the delayed response.

That file extension is associated with the MapWindow application, a the Open Source GIS application built around the MapWinGIS OCX.  *.mwprj is from version 4 of the app, and *.mwproj is from version 5 of the app.

Just FYI, you are encouraged to ask questions like this [on the discussion forum](https://mapwindow.discourse.group/) rather than Git

[2019-09-14 01:43] dpmcmlxxvi opened #176 "MapWinGIS control in Office documents"
Can a MapWinGIS control be embedded in an office document (e.g., Excel, Word, PowerPoint) to allow a user to interact with, for example, a map with multiple layers (e.g., shapefile, georeferenced raster)? The idea being to have a document with spatial data that is more interactive than a static image.

[2019-09-15 13:50] pmeems commented on #176
Yes it can. That is the whole reason MapWinGIS is an ActiveX control.

I know it is used by a lot of users in Excel and Access.
After installing MapWinGIS the map control is available in the COM controls,
https://support.office.com/en-us/article/how-to-use-the-forms-controls-on-a-worksheet-in-excel-e7e33c0c-f080-4443-b565-d21b1bdbcf43

It is best to ask question in our forum: https://mapwindow.dis

[2019-09-15 13:50] #176 closed, assigned to nobody

[2019-09-27 15:52] cpalominoch opened #177 "MapWinGIS library in xamarin forms"
Dear,
Can the MapWinGIS library be used in xamarin forms to create shapefile?

Best regards.

Carlos Palomino

[2019-09-27 17:10] jerryfaust commented on #177
Hello @cpalominoch

MapWinGIS is strictly a Windows API-based OCX control.  Even if you could make it work on a Windows-based Xamarin Form, you would not be able to move it to any of the other Xamarin platforms.

If you're looking for an open-source map control that supports Xamarin, there are a few out there, with various levels of functionality.  One that I've looked at is called [Mapsui](http:/

[2019-10-23 22:17] pmeems opened #178 "New versions of MapWinGIS (v5.1.0) released"
I've just published new versions of MapWinGIS:
https://github.com/MapWindow/MapWinGIS/releases/tag/v5.1.0

Please use it and let us know if you find any bugs.
Questions can be asked on our forum:
https://mapwindow.discourse.group/c/mapwingis

[2019-10-23 22:18] #178 closed, assigned to nobody

[2019-10-29 00:11] HollidayHT opened #179 "Crashed when selecting polygon to edit"
When editing a shapefile the application will crash as soon as the cursor is over the map.

A clear and concise description of what the bug is.

I am using VS VB 2015, the simple code will crash when the cursor is over the map.

    Private Sub Form1_Load(sender As Object, e As EventArgs) Handles MyBase.Load
        Dim sf As New Shapefile
        sf.Open("L:\LandMark\GISData\Parcel.shp")

[2019-10-29 00:30] jerryfaust commented on #179
Hello @HollidayHT

What version of MapWinGIS are you using?  There was a bug fix in 5.0.1 that fixed GitHub issue [SelectByRectangle #46](https://github.com/MapWindow/MapWindow5/issues/46), cross-reference [MWGIS-146](https://mapwindow.atlassian.net/browse/MWGIS-141).

[2019-10-29 01:03] HollidayHT commented on #179
That was my thought as first so I uninstalled and redownloaded 5.1.0, same result.

From: Jerry Faust <notifications@github.com>
Sent: Monday, October 28, 2019 7:31 PM
To: MapWindow/MapWinGIS <MapWinGIS@noreply.github.com>
Cc: Todd Holliday <toddh@landmarkgsi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MapWindow/MapWinGIS] Crashed when selecting polygon to edit (#179)

Hello @Holliday

[2019-10-29 02:18] jerryfaust commented on #179
Thank you.

So I'm not able to reproduce the error.  It is behaving as expected.

Could you possibly send a copy of your shapefile and I can test using your
data?

Jerry.

On Mon, Oct 28, 2019 at 6:03 PM HollidayHT <notifications@github.com> wrote:

--
Jerry.

[2019-10-29 10:41] nextfullstorm opened #180 "GdiplusShutdown at it again"
There is an application hang on exit if you use MapWinGIS in environment where you cannot control GDI+ initialization/finalization. For example, Delphi project: if there is an unit with mawingis AND GDI+ code, than app will hang on shutdown forever. Why? Because Delphi calls GdiplusStartup/Shutdown automatically and mapwingis calls it from DllMain (its strictly prohibited in docs), which calls cau

[2019-10-29 11:18] mainxt commented on #180
Yes, I confirm... this problem has been present for a long time. Because of this I had to give up sharing MapWinGIS and DevExpress products (https://www.devexpress.com/). Process simply hangs and his account for kill manually. It was necessary to refuse while such mode of work...

[2019-10-29 12:04] HollidayHT commented on #179
It is an issue with that shapefile, oddly I don’t have issues editing in 4.9.6.1. I have attached the shapefile that creates the error for me, let me know if it crashes for you as well.

Thanks you for your help on this.

From: Jerry Faust <notifications@github.com>
Sent: Monday, October 28, 2019 9:18 PM
To: MapWindow/MapWinGIS <MapWinGIS@noreply.github.com>
Cc: Todd Holliday <toddh@landmarkgsi.co

[2019-10-29 18:26] jerryfaust commented on #180
Hello.  So I just reviewed the MSDN article, your comments, and the current code with the long comment - so now I am a little more up-to-speed on the issue.  I will share my thoughts.

The proposed solutions in the MSDN article imply that startup/shutdown should only be called once, either by your application, OR by the DLL/OCX.   Since you say that Delphi automatically calls startup/shutdown, and

[2019-10-29 19:19] jerryfaust commented on #180
FOLLOW-UP:  I did a little testing.  MapWinGIS consists of two parts: the OCX, and an API that can be called independent of the OCX.  I did a quick test to verify, and if I create an application that does not contain the OCX, but still creates objects such as a Shapefile or an Image, the CMapView constructor is never called.  So if we move toward using CMapView to startup and shutdown GDI+, I will

[2019-10-29 21:07] nextfullstorm commented on #180
Hello, Jerry.

Honestly, I didn't see where MSDN proposes solution to only call startup/shutdown ONCE. You can call startup/shutdown as many times as you like as long as you a) balance startup and shutdown b) don't call it from DllMain. You can call it from different threads, too.

No, it's not a problem.

No, we can't suppress it. I started from that - what if we're in environment where we can't

[2019-11-08 21:52] jerryfaust commented on #180
Hello All.

Here is my current thinking and recommendation:
1. Implement the changes suggested by @nextfullstorm, moving the GDIPlus Startup and Shutdown back into the CMapView ctor/dtor.  I imagine this covers well over 90% of MapWinGIS usage.
2. There are a number of CoClasses that use GDI Plus, and that can be created without first creating the MapView.  However, most make no sense outside of t

[2019-11-11 10:44] nextfullstorm opened #182 "Strange cache lag"
I'm experiencing some odd behavior and want to clear things up. So I'm using mwg from delphi and recently started to dig in mwg sources to speed up tiles loading. I'm using local filesystem as a source for tiles (btw, support for local filesystem reverted from master, is it intentionally? Changelog mentions local fs support in 5.1). First load of every tile brings noticeable lag, you can see how t

[2019-11-13 05:56] jerryfaust commented on #182
Hello @nextfullstorm

I'm not well-versed on Tiles, but I can try to step through and compare the execution paths.
1. Where do you get your local tile files.  Is this something you download from OSM perhaps?
2. Regarding the local file system 'reverted' from 'master', that was my doing.  Your pull request was against 'master', and I went ahead and accepted it, but then realized that I shouldn't ha

[2019-11-13 07:09] nextfullstorm commented on #182
Hello @jerryfaust,

1. You're right, i'm using OSM tiles, you can get my test dataset (about 46mb) from [here](https://yadi.sk/d/KgOg9jqCDCg1qg), use 47.2, 39.6 as a start geocoords. You need to re-apply #152 to get it work. Unpack anywhere, create custom provider and set url like `file:///c:\temp\maps\{zoom}\{x}\{y}.png`. Feel free to contact me if anything goes wrong.

[2019-11-16 12:53] qq2898 opened #183 "is v5.1.0 still instability ?"
https://github.com/MapWindow/MapWinGIS/releases shows
**Update Oct. 29 2019**
This version has some instability. A hotfix will be released within 10 days.

dose the hotfix has been released yet ?

[2019-11-18 08:20] pmeems commented on #183
I've just published a v5.1.1 at https://drive.google.com/drive/folders/0B8UeIGgvyx2VQXRDVndvTUVlUFE?usp=sharing. It will act as a release candidate. Please use it, test it and let us know if you run into trouble.

When nothing new is reported I'll publish this version by the end of the week as the new stable version.

[2019-11-21 21:42] jerryfaust commented on #182
Initial results:
1. disabled your patch that bypasses cache

[code]
2. turned off all caching internally

[code]

Unless I'm overlooking something, I am not seeing the lagging.  Could something else be going on?

[Here is a link to a video of the test app](https://jerryfaust1-gmail.tinytake.com/tt/MzkwMzMxN18xMTk2Mzg5MQ).

[2019-11-22 08:12] nextfullstorm commented on #182
Me neither. In your video, at least. But things different on my side.

1. Disabled SQLiteCache::get_Tile hack. Disabled caches. Like in your 1,2. Result - https://drive.google.com/open?id=1GVuRM6tzsSRRQazwsn3pE7TE47kYqIU8.

2. Enabled hack, enabled caching, like in my OP. Result - https://drive.google.com/open?id=18wtSpjxx1uZYPyC1Bk-qBKLv2hgXdp2U.

[2019-11-23 04:59] jerryfaust commented on #182
I have a couple thoughts moving forward:
1. If you want to send me a simple exe that I could run through the debugger to see what calls are made and perhaps what may be causing the lag.  This is probably the easiest and best place to start.
2. I have the Community edition of Delphi, if perhaps you could help me get set up with simple project.  I don't think Delphi is the issue, since you can load

[2019-11-23 18:50] nextfullstorm commented on #182
Why not both? Here https://drive.google.com/open?id=12LC3INWHk71dd_LpqxgnzOT7B7a9MLSZ you can find test project and compiled exe (don't forget to check it on virustotal.com, safety first).

How to use test app: press "..." and select folder with map, then press "start". No checks, no error handling.

What if you want to build it yourself. Well, if you don't have much experience with delphi, this m

[2019-11-24 08:38] jerryfaust commented on #182
I've attached links to 3 videos.

First running your app with No Cache, but enabling your hack so that it essentially bypasses OCX code to directly load the images.
[DelphiAppNoCacheWithHack](https://drive.google.com/file/d/1bYG4hm500dtJdPgrmTtR3HCdthUmS23O/view?usp=sharing)

Then disabling the hack so that it goes through the OCX code to load the images, with no caching.
[DelphiAppNoCacheNoHack](

[2019-11-24 15:35] nextfullstorm commented on #182
You did not test most interesting combination - **with** cache enabled **and** hack. No cache means there is no requests to SQLiteCache::get_Tile. That's why you didn't see any difference - hack not involved. You need to enable caching and insert sqlite hack.

Regarding apples to apples. Simple app with cache disabled - https://drive.google.com/open?id=1f1NX8iBeGY63Oecd0ZkkkhX3eg1-JA7V. Simple app

[2019-11-25 04:03] jerryfaust commented on #182
Yes, of course. You're exactly right.  And yes, I now see the blazing difference.

So I will need more time to revisit this, but on the first run-through, here's what I think is happening.  Your 'patch' short-circuits the cache, and loads every tile from disk, thinking that it is finding it in the cache.  And so it never executes any code beyond that point; it thinks it found every tile in the cac

[2019-11-25 07:16] jerryfaust commented on #182
Ok, I was able to continue on this.  Here are my current findings.
1. I'm convinced that the thread-pool introduces enough overhead to make file-based tiles load more slowly than loading one-after-another on a single thread.  HOWEVER, this may only be on SSD-based systems.  It may be that spindle-based disks introduce enough latency that the thread-pool is indeed beneficial.  This will require mor

[2019-11-25 07:30] james5126 opened #186 "mousedown event"
hi i'm korean so i'm not good at English. Please understand it.
here is my problem. i created axMap1_MouseDownEvent and filled it like this.

private void axMap1_MouseDownEvent(object sender, _DMapEvents_MouseDownEvent e)
        {
            MessageBox.Show("i");
        }

but it is not working! how can i solve the problem?

[2019-11-25 07:46] pmeems commented on #186
Please post questions on our forum: https://mapwindow.discourse.group/

Have you enabled [SendMouseDown](https://www.mapwindow.org/documentation/mapwingis4.9/group__map__interaction.html#gabdd3a82d13432eef94d063439ea3de91) as mentioned in the [MouseDownEvent documentation](https://www.mapwindow.org/documentation/mapwingis4.9/group__map__events.html#ga73bb10449981208214063f48cc06fe03)

[2019-11-25 08:26] james5126 commented on #186
yeah i have done that following the examples.
but nothing happened

[2019-11-25 09:31] nextfullstorm commented on #182
I did quick research and can't confirm thread-pool overhead you mentioned. But I don't know codebase good enough and don't have time to dig deeper at the moment. As I can see, pool creation executes at first load and after that it's no-op. Maybe request execution brings this overhead, I don't have experience with CThreadPool at all.

As for my 'patch': I don't think things should work this way. It

[2019-11-25 10:02] pmeems commented on #186
Several SendMouse properties exist. Are you sure you've enabled the correct one?
Which version of MapWinGIS are you using and with what language? I assume C#.

[2019-11-25 15:43] pmeems commented on #183
I've promoted the release candidate as the new official new version (v5.1.1).
Get it at https://github.com/MapWindow/MapWinGIS/releases

[2019-11-25 15:43] #183 closed, assigned to nobody

[2019-11-26 13:20] pmeems commented on #186
Question continues at https://mapwindow.discourse.group/t/mousedown-event-is-not-fired/352

[2019-11-26 13:20] #186 closed, assigned to pmeems

[2019-12-03 22:51] jerryfaust commented on #182
I should note here that two updates have been submitted that are related to this issue:
1. [MWGIS-205: GdiplusStartup/Shutdown should not be called in DllMain](https://mapwindow.atlassian.net/browse/MWGIS-205), and
2. [MWGIS-207: Allow multi-threaded HTTP Tile loading](https://mapwindow.atlassian.net/browse/MWGIS-207)

A third update is forthcoming, that of re-introducing file-based tiles from the

[2019-12-03 22:54] jerryfaust commented on #180
I should note here an update has been submitted that relates to this issue, specifically:
[MWGIS-205: GdiplusStartup/Shutdown should not be called in DllMain](https://mapwindow.atlassian.net/browse/MWGIS-205)

[2020-01-08 15:02] gdorval opened #189 "CTiles::get_GridLinesVisible() returned parameter always VARIANT_TRUE"
**Describe the bug**
MapWinGIS **v5.1.1.1**

In **CTiles::get_GridLinesVisible()**, from Tiles.cpp at line 360 :
    *pVal = _manager.get_GridLinesVisible() ? VARIANT_TRUE : **VARIANT_TRUE**;

**To Reproduce**
Steps to reproduce the behavior:
1. Call CTiles::get_GridLinesVisible()
2. Verify the returned value

**Expected behavior**
    *pVal = _manager.get_GridLinesVisible() ? VARIANT_TRUE : **VAR

[2020-01-08 17:45] jerryfaust commented on #189
Thank you, @gdorval

I'll submit the change.

Regards,
Jerry.

[2020-03-19 02:25] haquocviet opened #190 "Troubles in using the MapWinGIS activeX in C++ program."
MapWinGIS-5.1.1-win32/x64-VS2017.
My Dev tool: VS2019 16.5 + WTL.

Though I the activeX works well in a C# program, I could not make it working in a C++ program.
The program always crashes when it tries to load the activeX at the function below.

[code]
I want someone to confirm that if the activeX supports integration with ATL/WTL C++ programs.

[2020-03-19 02:43] jerryfaust commented on #190
Hello @haquocviet

I'm guessing you might be the same person who commented in the [MapWinGIS Discourse group](https://mapwindow.discourse.group/t/struggling-in-using-mapwingis-in-atl-wtl-application/497)?

Either way, I will add comments there.  I have done an MFC dialog-based application in the past, and it worked well.  I don't know anything about WTL, so I can't speak to that.  But I will try t

[2020-03-19 04:35] haquocviet commented on #190
Hi @jerryfaust

Thank you for the reply. Yes I was the one posted on that group. I asked again here just because I thought that forum may be less active than here.

From your confirmation, I have tried to use the MapWinGIS in an MFC app and I could see the ActiveX is loaded successfully. However, I am still fail to make WTL/ATL works.
For more detail, I have the snapshot of the stack when the cras

[2020-03-20 06:12] jerryfaust commented on #190
Hello @haquocviet

I'm sorry, but at the moment I have no meaningful feedback for you.  I would probably have to create a WTL application it in order to step through myself, and try to see what is happening with the OCX.

If you are able, you could build a debug version of the OCX so that you could step through and catch any errors inside the OCX.  I think more likely, though, it is an issue in ho

[2020-03-20 09:53] haquocviet commented on #190
Hi @jerryfaust
Thanks for your detail.

Here are more things I realized after trying some ways.

1) MapWinGIS-5.x-x32-VS2017 must be installed in order to see
	 "MapControl" in the control list which opened by clicking to "Insert ActiveX Control...".
	If I install just x64 version, MSVC can't show "MapControl".	But this is for only adding ActiveX into the dialog for both WTL and MFC types, at runt

[2020-03-20 20:38] dhuantes commented on #190
It's been years since I've done anything with WTL but I found this article.
 It's old but appears to demo what you're trying to accomplish albeit not with MapWinGIS but thought it might help in the event you haven't already read it.
 Good luck.  Cheers!

https://www.codeproject.com/Articles/4174/WTL-for-MFC-Programmers-Part-VI-Hosting-ActiveX-Co

[2020-03-21 12:24] MiniminSSS commented on #175
Hi,bro,  problem solved?

[2020-03-22 02:50] haquocviet commented on #190
Thanks @dhuantes.
I know the article you given. The methods I am using to add ActiveX/COM to an WTL project are not different from what the article described: by embedding to a dialog resource and by loading at runtime.
The issue I have with the MapWinGIS ActiveX may be because MapWinGIS is written in MFC and WTL does not understand MFC's components.
Note that, using the same project, I could load

[2020-04-12 00:51] yttina opened #192 "can't compile successfully,support library not give"

[2020-04-12 03:28] jerryfaust commented on #192
Hello @yttina

Could you please provide more detail?  What version of the source code?  What is the compiler error?

Have you seen this [tutorial on building MapWinGIS](https://mapwindow.discourse.group/t/tutorial-compiling-mwgis-in-vs2017/118)?

Thank you,
Jerry.

[2020-04-20 02:22] sxqHusky opened #193 "Troubles in connecting with Openstreet map"
Hi,we are now using mapwingis.But we found that our mapcontrol can't get connected to Openstreet map.So we can not see the map on the mapcontrol.How could we deal with this question in order to show openstreet map on mapcontrol.Thanks a lot.

[2020-04-20 07:45] pmeems commented on #193
We get regular questions about OSM. It seems they are restricting access.
You could use [StartLogTileRequests()](https://www.mapwindow.org/documentation/mapwingis4.9/class_global_settings.html#a900a8677dfcc080f2f1d64566b7582e3) to log the requests and see what is happening.

Also, questions can be asked best on our forum: https://mapwindow.discourse.group/

This question might also be helpfull for

[2020-04-21 08:15] sxqHusky commented on #193
Thanks for your help, I have changed my code,however I still can't see the openstreetmap online, here is my code, how should I chenge them.(C# VS2012)

using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;
using MapWinGIS;
using AxMapWinGIS

[2020-04-21 09:17] pmeems commented on #193
You also need boundaries. Either by loading a layer (shapefile) or setting the extents.
Please have a look at the [Getting Started page](https://www.mapwindow.org/documentation/mapwingis4.9/getting_started.html).

[2020-04-21 09:47] sxqHusky commented on #193
sorry bro, I still can't see the openstreet map, however, I can see my shapefile on the map control.
![result](https://user-images.githubusercontent.com/49707849/79851632-2d199200-83f8-11ea-9c53-2086e830d261.png)

here is the code
InitializeComponent();
            axMap1.Projection = tkMapProjection.PROJECTION_WGS84;
            axMap1.TileProvider = tkTileProvider.OpenStreetMap;
            axMa

[2020-04-21 10:24] pmeems commented on #193
Your shapefile is in the correct projection? Can you share that file? If so don't forget to add the .shp, .shx, .dbf and .prj files

[2020-04-21 11:39] sxqHusky commented on #193
yes, the projection is wgs1984, here is the shape file. I have only .shp and .shx.
[builedings.zip](https://github.com/MapWindow/MapWinGIS/files/4509718/builedings.zip)

[2020-04-21 12:17] sxqHusky commented on #193
and could you please give me a demostration about how to display openstreetmap on mapcontrol,thanks alot.

[2020-04-21 12:19] pmeems commented on #193
When I open your layer in MapWindow5 I can see it loads and it is near China but in the ocean:
![image](https://user-images.githubusercontent.com/12067729/79865024-c3d75600-83da-11ea-92c5-51d78d18441f.png)
Is that expected? If not then you probably have the shapefile in a different projection. Without the .prj file it is hard to tell.

Which version of MapWinGIS are you using and did you do the st

[2020-04-28 03:51] sxqHusky commented on #193
Sorry bro,I was delayed by several interviews.
Actually the true location is near ShangHai( a beautiful city in China), I did do the same steps on the getting started page, my MapWinGIS version is 5.0.0.0.
I think it must be the problem of my version. Because I have just donwload the MapWindow(5.5.0.0), it can get connected to the openstreetmap.

[2020-04-28 07:36] pmeems commented on #193
Using the latest version is always a good idea.
OSM changed last year from HTTP to HTTPS. That might be the reason for your problems with the tiles.
I'm glad it is solved now. I'm closing this issue.
Please ask new questions on the forum

[2020-04-28 07:36] #193 closed, assigned to nobody

[2020-05-26 00:19] Kayumiy opened #194 "Clickable marker on the map"
**Forum**
Please use our [MapWinGIS forum](https://mapwindow.discourse.group/c/mapwingis) if you have questions or remarks.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to

[2020-05-26 06:38] pmeems commented on #194
As written in the template: "Please use our MapWinGIS forum if you have questions or remarks."
If you re-ask the question on the forum and let us know what part is working and what not, then we can help you.

[2020-05-26 09:22] #194 closed, assigned to pmeems

[2020-06-02 06:27] pmeems commented on #175
Sorry nobody got back to you before.
You can try to add overviews, those should load faster.
[Utils.GDALAddOverviews()](https://www.mapwindow.org/documentation/mapwingis4.9/class_utils.html#ac7352d6853354c6995c95e9c60804f77)

Please use our forum for future questions: https://mapwindow.discourse.group/

[2020-06-02 06:27] #175 closed, assigned to nobody

[2020-06-02 08:12] abrochet opened #195 "LIBEAY32 - Crash since the update in 5.2.0"
Hello,

My application crashes randomly (often when starting). According to the event viewer there is a problem with: LIBEAY32.dll

![image](https://user-images.githubusercontent.com/24960001/83495705-5b3ec700-a4b8-11ea-9b02-aca13cd1f10b.png)

Do you have an idea about the source of this problem please ? I can't find more information...
Thanks,
Anthony,

[2020-06-02 08:28] pmeems commented on #195
You didn't have this problem with v5.1 of MapWinGIS?

libeay32.dll contains encryption functions that allow for coded communications over networks.
It is part of the GDAL binaries.
We don't use it directly in MapWinGIS.

Looking at the timestamp it doesn't seem to be changed since September 2017.

Do you have other versions of MapWinGIS installed on your computer?

[2020-06-02 08:49] abrochet commented on #195
No, it's the first time this has happened. I only have version 5.2.0 on my computer.

[2020-06-02 09:59] pmeems commented on #195
Do you have `LIBEAY32.dll` in other locations on your computer? Perhaps in `Windows\System`.
And can you run dependency walker on the dll. Perhaps it needs an additional file?

[2020-06-02 12:48] abrochet commented on #195
It has appeared twenty times on different programs.
I managed to have the DLL which is problematic on the internet, and I passed my application in x64. For now I don't have any more crashes but as it happens randomly, I don't want to declare victory too quickly. I will come back to you at the end of the week to let you know if everything is good because I would like other users to test before conf

[2020-06-12 06:20] qq2898 opened #196 "where is the latest help document for MapWinGIS?"
the latest document is for v4.9.3 ?

[2020-06-12 06:51] pmeems commented on #196
Please ask questions on the forum: https://mapwindow.discourse.group/

The latest version of the documentation is on https://www.mapwindow.org/documentation/mapwingis4.9/
The URL is a bit misleading. You can see the version history at https://www.mapwindow.org/documentation/mapwingis4.9/version_history.html

[2020-06-12 06:51] #196 closed, assigned to nobody

[2020-06-16 14:02] abrochet commented on #195
Hello,

Sorry I have forgotten to give you my feedback. I still have random crashes on several PCs, however the version 5.1.1 works perfectly.

[2020-06-16 15:11] pmeems commented on #195
Yesterday I published a hotfix (v5.2.1) would you mind trying that version and letting us know if your problem persists.

Thanks.

[2020-06-18 01:50] yttina opened #197 "How to set style of some shapes in one layer"
want to set one layer shapes have several diffrent styles

[2020-06-22 15:04] pmeems commented on #197
Can you please post questions on our forum: https://mapwindow.discourse.group/c/mapwingis/8

And it is also wise to explain what you want to do, which version your using, what code you've tried and what errors you get.

[2020-06-22 15:04] #197 closed, assigned to nobody

[2020-06-22 15:20] abrochet commented on #195
Hello, I still have the same mistake but less frequently.

[2020-07-03 14:13] pmeems opened #198 "Third release candidate for MapWinGIS v5.2 available"
A third release candidate was created:
https://github.com/MapWindow/MapWinGIS/releases

Please use it and report any bugs.

[2020-07-03 14:15] pmeems commented on #192
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this issue.

[2020-07-03 14:15] #192 closed, assigned to nobody

[2020-07-03 14:15] pmeems commented on #189
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this issue.

[2020-07-03 14:15] #189 closed, assigned to pmeems

[2020-07-03 14:17] pmeems commented on #182
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:17] #182 closed, assigned to nobody

[2020-07-03 14:18] pmeems commented on #180
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:18] #180 closed, assigned to pmeems

[2020-07-03 14:19] pmeems commented on #179
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:19] #179 closed, assigned to pmeems

[2020-07-03 14:19] #177 closed, assigned to nobody

[2020-07-03 14:20] #172 closed, assigned to nobody

[2020-07-03 14:20] pmeems commented on #170
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:20] #170 closed, assigned to nobody

[2020-07-03 14:20] pmeems commented on #171
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:20] #171 closed, assigned to nobody

[2020-07-03 14:21] #169 closed, assigned to nobody

[2020-07-03 14:22] pmeems commented on #168
Sorry for not responding earlier.
Did you ever get this to work?
Questions can best be asked on the forum: https://mapwindow.discourse.group/

[2020-07-03 14:22] #168 closed, assigned to nobody

[2020-07-03 14:23] pmeems commented on #156
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:23] #156 closed, assigned to pmeems

[2020-07-03 14:24] pmeems commented on #155
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:24] #155 closed, assigned to pmeems

[2020-07-03 14:24] #151 closed, assigned to nobody

[2020-07-03 14:27] pmeems commented on #112
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:27] #112 closed, assigned to nobody

[2020-07-03 14:27] #110 closed, assigned to nobody

[2020-07-03 14:28] pmeems commented on #109
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:28] #109 closed, assigned to nobody

[2020-07-03 14:28] pmeems commented on #92
If this is still an issue with the latest release (https://github.com/MapWindow/MapWinGIS/releases) could you create a new issue?
For now, I close this old issue.

[2020-07-03 14:28] #92 closed, assigned to nobody

[2020-07-10 08:29] pmeems commented on #195
It seems GisInternals has updated his binaries and now includes the libssl-1_1 and libcrypto-1_1 dlls.
I updated our build process and created new installers. For now only available at my Google Drive:
https://drive.google.com/drive/folders/0B8UeIGgvyx2VQXRDVndvTUVlUFE?usp=sharing

Since I can't reproduce the mentioned error, can you (@abrochet) test this version and let us know?

[2020-07-10 13:28] abrochet commented on #195
Hello,

Thanks, I'll take care of it next week.

[2020-07-17 15:23] abrochet commented on #195
it works perfectly thank you :)
Is it fixed from which version?

Thanks,

[2020-07-24 06:59] pmeems commented on #195
It has been fixed in the fourth release candidate available at https://github.com/MapWindow/MapWinGIS/releases/tag/v5.2.3

[2020-07-24 06:59] #195 closed, assigned to pmeems

[2020-07-24 06:59] #198 closed, assigned to pmeems

[2020-07-24 07:01] pmeems opened #200 "Fourth release candidate available"
Yet another release candidate has been published.
https://github.com/MapWindow/MapWinGIS/releases

Please use it and report any bugs.

[2020-08-09 13:00] GitAit opened #201 "Use MapWinGis in a mobile App"
I'm trying to develop a mobile App in Windev Mobile. I need GIS map control. So is it possible to use MapWinGis in Windev Mobile and generate a Windows mobile, Android and IOS Apps with GIS Map support.

[2020-08-09 19:56] jerryfaust commented on #201
Hello @GitAit

I don't believe so.  Although I don't know a lot about WinDev, it appears to have some support for OLE Automation, but I did not see support for OCX controls (which is not surprising).  They do seem to have their own (somewhat limited) map control.

For what it's worth, there are multi-platform map controls written for Xamarin (such as [MapsUI](https://github.com/Mapsui/Mapsui)).

A

[2020-08-09 21:34] GitAit commented on #201
Hello Jerry,
Thank you for your answer and recommendations.
Best Regards,

[2020-10-13 07:05] AlyssaLG opened #203 "Taudem error - openNSPECT plugin - MapWindows v.4.8.8."
I have been trying to run the 'Create New Watershed Delineation' tool in the openNSPECT plugin in MapWindows v.4.8.8. Every time I try to run I get a Taudem error - see details attached. Could someone please confirm why this error is occurring. Is it a memory issue? Any assistance would be greatly appreciated.
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/72383377/95826808-

[2020-10-20 15:18] springrider77 opened #204 "MS Access and newer version"
Hi,
I have a MS Access front-end with many forms integrating an old version of MapWinGIS (4.6).
It used to work up to now but with the recent upgrade to MS Access 64 bits, the old OCX in 32 bits doesn't work anymore.

It seems that it is perhaps time for moving to a newer version of MapWinGIS...

I just wanted to make sure that the latest version of MapWinGIS 5.? could be integrated in a MS Access

[2020-10-20 20:15] jerryfaust commented on #204
Hello @springrider77

I can't say for sure, although I know there are Access users running newer versions than 4.6.

Check out the [MapWinGIS discourse forum](https://mapwindow.discourse.group/), and search keywords like Access or VBA, and see what you find.  That is also the best place to post questions (rather than here in GitHub).

Regards,
Jerry.

[2020-10-24 23:14] NecroMancer05 opened #205 "Line marker style and ECW file bugs"
Hi i can't open ECW file in the newer versions of MapWinGIS and MapWindow. And line marker style not working as expected. Thanks.

[2020-10-25 03:26] jerryfaust commented on #205
Hello @NecroMancer05

Here's a link to the issue on the MapWinGIS discourse site, regarding the [issue with ECW files](https://mapwindow.discourse.group/t/ecw-can-not-load/432/11).

As far as the line marker is concerned, you will have to be more specific, and possibly post some code that demonstrates the problem.  And for future reference, it's best to communicate on the discourse site rather tha

[2020-10-25 13:44] NecroMancer05 commented on #205
Hello @jerryfaust
Thanks for the response. Don't care about line marker bug it's my fault i did it. When i serialize/deserialize drawing styles i forget something.

I have one more question: i will publish my applicaton. its written in C# (windows form) and i am using lastest MapWinGIS build (x32). How i can make installer or i need to make some changes for make executable .exe file ?

[2020-10-26 15:52] jerryfaust commented on #205
Hello.

I'm not sure I understand the question.  There are various applications that can generate an installer.  MapWinGIS uses [InnoSetup](https://jrsoftware.org/isinfo.php), which is a free installer-builder for Windows.  You could use that for your application as well, and incorporate the existing MapWinGIS installer into it.  Is that what you're asking?

Regards.

[2020-10-26 17:03] NecroMancer05 commented on #205
Hi,
We made a program like MapWindow. Based on C# winforms and MapWinGIS. I need to make installer like MapWindow, its contains all binaries, dlls and MapWinGIS build.

[2020-10-28 21:11] #205 closed, assigned to nobody

[2020-10-29 14:56] schorges opened #206 "Fail with gdal204.dll"
I add the MapWinGIS ActiveX to my Projekt [https://www.mapwindow.org/documentation/mapwingis4.9/getting_started.html](url)
an on debugg the app oh show the map become an fail:

![Unbenannt](https://user-images.githubusercontent.com/18350246/97585644-ab836c00-19f9-11eb-8bd9-051fc54e7c0f.png)

[2020-10-29 20:38] jerryfaust commented on #206
Hello @schorges

Are these two separate issues that you're reporting?

Regarding the deadlock, I suggest that when you encounter the error while debugging, open the Threads window to determine what each of the threads are doing, hopefully to determine which thread is waiting on which.  Then you can determine if the deadlock is related to specific calls into the OCX.

Regarding what I think is "pro

[2020-12-25 15:03] zcwbnu opened #207 "How do I call a Grid function with the LPDISPATCH"
How to obtain the elevation data value according to the row and column number，After obtaining the IDISPATCH type？
I don’t know why the elevation value I get is always wrong

LPDISPATCH lpDispatch = m_map.get_GetObject(layerHandle);
//hr = lpDispatch->QueryInterface(IID_IDispatch, (void **)&typeinfo);
UINT count;
lpDispatch->GetTypeInfoCount(&count);
DISPID dispid;
DISPID PropertyID[5] = { 0 };
BST

[2021-02-05 22:38] NecroMancer05 opened #208 "Opening ECW Files"
Hi @pmeems ,

[Can u look at this](https://github.com/gisinternals/buildsystem/issues/154) there is progress on opening ECW files.

There is new ECW library in GDAL 3.1.2 VS2019 builds. When are we getting this update on MapWinGIS ?

[2021-02-09 16:19] pmeems commented on #208
I just tried and I'm having trouble making MapWinGIS work with GDAL v3.*
That needs to be fixed first and then we need to move to VS2019, which hopefully won't be too hard and then we can create a new beta release.

@jbaux You've created a pull request to get MapWinGIS compiled using GDAL v3. I merged that PR and I can compile, but I can't register the ocx (`regsvr32 MapWinGIS.ocx`). Did you have

[2021-02-09 16:39] jerryfaust commented on #208
I can take a first-look and see what it involves; then we'll take it from
there.

Regards,
Jerry.

On Tue, Feb 9, 2021 at 8:19 AM Paul Meems <notifications@github.com> wrote:

[2021-02-09 16:50] pmeems commented on #208
Thanks @jerryfaust I did one more try and can now compile AND register. I missed 1 dll and didn't have the admin rights.
I'll commit my changes in a minute.

When running the InteropCreator project, which has a form with MapWinGIS on it, and hitting the 'Prefetch Tiles' button I get this error:
`GDAL FAILURE: PROJ: proj_create_from_database: Cannot find proj.db`
Most likely this has to do with pro

[2021-02-09 16:51] jerryfaust commented on #208
Excellent.  Well done, Sir. Jerry From: Paul MeemsSent: Tuesday, February 9, 2021 8:50 AMTo: MapWindow/MapWinGISCc: Jerry Faust; MentionSubject: Re: [MapWindow/MapWinGIS] Opening ECW Files (#208) Thanks @jerryfaust I did one more try and can now compile AND register. I missed 1 dll and didn't have the admin rights.I'll commit my changes in a minute.When running the InteropCreator project, which ha

[2021-02-10 17:13] NecroMancer05 commented on #208
I tried to compile too. But no hope i cant register it either.

[2021-03-25 00:55] manuel76413 commented on #9
the mouse event design could be better.
a good designation should be whenever the user needs to receive mouse down or up events,  he can get it.
however in this version MapWinGIS， only in
		this.axMap1.CursorMode = MapWinGIS.tkCursorMode.cmPan;
So, if the user needs to deal with things in mouse down or up, how can he do?

[2021-03-25 08:25] pmeems commented on #9
If you look at the documentation of [MouseDownEvent](https://www.mapwindow.org/documentation/mapwingis4.9/group__map__events.html#ga73bb10449981208214063f48cc06fe03) you'll see you need to set [SendMouseDown](https://www.mapwindow.org/documentation/mapwingis4.9/group__map__interaction.html#gabdd3a82d13432eef94d063439ea3de91) to true first.

And if you have suggestions to improve MapWinGIS you can

[2021-04-02 07:28] mathijs-dumon opened #209 "Index out of range exception in ShapeFileDrawing.cp"
Based on this report:
https://mapwindow.discourse.group/t/shapefiledrawing-bug-in-5-2-4/958

[2021-05-19 15:39] NecroMancer05 commented on #208
Is where any news ?

[2021-05-20 14:41] pmeems commented on #208
No news. At this moment the volunteers that have enough skills to get MapWinGIS to compile on VS2019 and working with GDAL v3 are too busy with their main jobs.

Until we can compile MapWinGIS with VS2019 we can't move on.
I tried, with my limited C++ skills, but couldn't get it to work.

For reference. We also have a discussion on our forum:
https://mapwindow.discourse.group/t/ecw-can-not-load/43

[2021-05-21 18:36] NecroMancer05 commented on #208
Thanks for the reply.

[2021-05-21 18:36] #208 closed, assigned to pmeems

[2021-06-14 08:33] frank2x460 opened #210 "Linestyle ignored when drawing Polygon"
Using the following code:

 With sf.DefaultDrawingOptions
            .LineWidth = 4
            .LineColor = CUInt(RGB(0, 0, 0))
            .LineStipple = tkDashStyle.dsDot
            .FillVisible = False
        End With

The polygon is not completed drawn in the dotted style.
Same error for all other tkDashStyle(s).
![grafik](https://user-images.githubusercontent.com/34651007/121863276-fab5ad

[2021-08-03 02:00] #203 closed, assigned to pmeems

[2021-08-21 03:29] LiGuojun1990 opened #211 "DrawPolygon Crash in MFC"
m_Map.ClearDrawings();
	long handle = m_Map.NewDrawing(mapWindow::PROJECTION_WGS84);

	double projx[5], projy[5];
	CRect rect;
	GetClientRect(&rect);
	m_Map.PixelToProj(0, 0, projx, projy);
	m_Map.PixelToProj(rect.Width() / 2, 0, projx + 1, projy + 1);
	m_Map.PixelToProj(rect.Width() / 2, rect.Height() / 2, projx + 2, projy + 2);
	m_Map.PixelToProj(0, rect.Height() / 2, projx + 3, projy + 3);
	m_M

[2021-08-23 13:06] LiGuojun1990 commented on #211
Map_DispatchMap.cpp line 190
"DISP_FUNCTION_ID(CMapView, "DrawPolygonEx", dispidDrawPolygonEx, DrawPolygonEx, VT_EMPTY, VTS_I4 **VTS_VARIANT VTS_VARIANT** VTS_I4 VTS_COLOR VTS_BOOL VTS_UI1)"  -->
"DISP_FUNCTION_ID(CMapView, "DrawPolygonEx", dispidDrawPolygonEx, DrawPolygonEx, VT_EMPTY, VTS_I4 **VTS_PVARIANT VTS_PVARIANT** VTS_I4 VTS_COLOR VTS_BOOL VTS_UI1)"

[2021-08-23 13:06] #211 closed, assigned to pmeems

[2021-08-23 17:32] jerryfaust commented on #211
Hello @LiGuojun1990

I see the differences in the function definition; although I don't see it in source control history.  Where did the second definition come from, that shows pointers to the Variants (VTS_PVARIANT)?

Regards,
Jerry.

[2021-08-24 01:44] LiGuojun1990 commented on #211
I mean VTS_VARIANT  should be corrected to VTS_PVARIANT. >_<

[2021-08-24 01:44] LiGuojun1990 commented on #211
I mean VTS_VARIANT  should be corrected to VTS_PVARIANT. >_<

[2021-09-10 11:12] oldwired opened #212 "Delphi: MapWinGIS_TLB.pas doesn't compile"
MapWinGIS_TLB.pas doesn't compile under Delphi (10.4.2, but should be a general problem.

[dcc32 Error] MapWinGIS_TLB.pas(16332): E2029 ';' expected but '.' found
[dcc32 Error] MapWinGIS_TLB.pas(16334): E2003 Undeclared identifier: 'DefaultInterface'
[dcc32 Error] MapWinGIS_TLB.pas(16334): E2066 Missing operator or semicolon
[dcc32 Error] MapWinGIS_TLB.pas(16334): E2003 Undeclared identifier: 'yLa

[2021-09-10 11:46] mainxt commented on #212
Which version of MapWinGIS are you trying to compile? And where do you get MapWinGIS_TLB.pas create yourself or take from github?
I will assume that if you are trying to use an existing package ... it is outdated as it was built for version 5.1 and does not reflect the latest changes for version 5.2.4.

[2021-09-10 11:57] mainxt commented on #212
I get it ... you tried to install it wrong.
Try to install with MapWinGIS.Delphi.Component.v5.1.0.zip
But it does not support some of the 5.2.4 features.
Need to update ....

[You can try this ](https://mapwindow.discourse.group/t/installation-package-for-delphi-for-mapwingis-version-5-2-4/1094/2)

[2021-09-10 19:45] oldwired commented on #212
I installed (the 32 Bit built) 5.2 Release from here: https://github.com/MapWindow/MapWinGIS/releases/tag/v5.2.4 compiled and installed the component from the Zip Folder and used the MapWinGIS_TLB.pas that gets copied into the installation directory.
Now I see where I went wrong (I should not have used the .pas from the install folder), but it's all a bit confusing.

[2021-09-13 09:00] songxiang opened #213 "can not run application with debug"
I created a window program with vs2017, and then added a mapcontrol according to the tutorial (tutorial address: https://www.mapwindow.org/documentation/mapwingis4.9/getting_started.html). It can run normally when debugging, but it fails when I copy all the files under debug to other computers. The error message is: Error module name: KERNELBASE.DLL, version 10.0.19041.1151

[2021-09-21 16:16] jerryfaust commented on #213
Have you installed the msvc Debug dlls on the other machine?  The MapWinGIS installer will only install the Release runtime.  You might find them here?
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.16.27012\debug_nonredist\x86

Or you could do a Release build and put those files on the other machine.

Regards,
Jerry.

[2021-09-22 02:06] songxiang commented on #213
Thanks!!! The program can run normally when MapWinGIS is installed and registered on the other machine.

[2021-09-22 02:06] #213 closed, assigned to pmeems

[2021-10-12 13:46] ningfc opened #214 "Tiles display incorrect when the projection is not WGS84"
When I add a raster layer with reference that not the WGS 84 projection first , then I enable the tile layer, the tiles not re-project correctly, they are displayed overlay and had some gaps with each other.

I read the code about tile drawing, I think we need transform the tile image, not just calculate the start point and size of it.

Display like this.
<img width="400" alt="image" src="https://

[2021-11-11 03:48] ningfc opened #215 "CShapefileDrawer sfDrawer in Map_Drawing.cpp missing a param [zoom]."
I Found a Param missing problem in MapWinGIS code, at Map_Drawing.cpp CMapView::DrawLayers
`
CShapefileDrawer sfDrawer(graphics, &_extents, _pixelPerProjectionX, _pixelPerProjectionY, &_collisionList, this->GetCurrentScale(), true);
`
This constructer miss a param zoom.
`
CShapefileDrawer drawer(g, &_extents, _pixelPerProjectionX, _pixelPerProjectionY, &_collisionList, GetCurrentScale(), GetCurren

[2021-11-14 06:12] jerryfaust commented on #215
Hello @ningfc

Yes, you are correct.  Looks like one of the developers added a new parameter to the constructor, but didn't catch all of the related calls.  And the compiler didn't catch it due to the last parameter being optional.

Thank you.  I'll try to get this fix incorporated.

Regards,
Jerry.

[2021-11-14 06:33] jerryfaust commented on #215
Fixed in Jira issue [MWGIS-239](https://mapwindow.atlassian.net/browse/MWGIS-239).

[2021-11-16 07:44] ningfc commented on #215
OK, Thank you! I'll close this issue.

[2021-11-16 07:44] #215 closed, assigned to pmeems

[2021-11-17 09:30] ningfc opened #216 "May invalid SpatialIndex file(.mwd\.mwx) cause shape file not display correctly."
I have a shape file here -> [Export_OutputCopy.zip](https://github.com/MapWindow/MapWinGIS/files/7553382/Export_OutputCopy.zip)
I add this file to MapWIndow5 and didn't display correct, may be spatial index file not generate incorrect, because it will be display correct after delete the *.mwd file, and if restore the *.mxd before, the problem back again.

[2022-01-21 08:32] frank2x460 opened #218 "Line patterns with markers do not work properly"
Hello,

since Version 5.2.4 creating linepattern with markers does not work predictable, sometimes the markers appear, sometime they do not.
I verified it with the mapwingis examples app (see attachment) . The error occurs even with the newest version 5.3.0. Using 5.1.1.1 everything is fine.
Please have a look at the code.

Thanks
Frank
![error_linepattern_with_markers](https://user-images.githubu

[2022-01-23 19:57] tangxiaodao opened #219 "Gdal 3.4.0 Load Geotiff Not Show"
**Describe the bug**
Compiled with Gdal 3.4.0 and loaded the Geotiff file, it can not display normally (or does not display). When the function "ReadProjection" is commented out, it can be displayed normally, but I don't know if there will be other problems. The reason why it cannot be displayed by debugging is the "DrawImage" function in" ImageDrawing.cpp". Code as below:
[code]
This always retur

[2022-01-24 10:32] pmeems commented on #218
This is further discussed at the forum: https://mapwindow.discourse.group/t/line-patterns-with-markers-do-not-work-properly/1217

The issue has been logged at https://mapwindow.atlassian.net/browse/MWGIS-255

[2022-01-24 10:32] #218 closed, assigned to nobody

[2022-01-24 10:45] pmeems commented on #219
Thanks for reporting this.
Currently we are working on upgrading MapWinGIS to GDAL3 and VS2019 and VC++17 and we already solved some issues with the projection.
You can have a look at the feature branch: https://github.com/MapWindow/MapWinGIS/tree/feature/MWGIS-244-VS2019-GDAL3-Proj8
Because we are working in the branch with several persons it is not guaranteed to compile all the time.

[2022-01-24 11:02] tangxiaodao commented on #219
@pmeems ,thanks for your reply.
Does VC++17 mean VS2017 or c++20? Or continue to use the  standard C++11 or  C++14. In addition, it is recommended that third-party libraries, such as Gdal, GeoTiff, Tiff, SpatialIndex, ShapeLib, DbgHelp, Cryptopp, Curl, etc., be compiled and installed directly with vcpkg, and then spend more time focusing on the update of the mapwingis framework.If possible, use CM

[2022-01-24 12:23] pmeems commented on #219
I mean `ISO C++17 Standard (/std:c++17)`
We still have some issues due to the `byte` type. We did solve it in our code, but it seems some Microsoft header files are causing problems now. So it might we need to fall back to `C++14`.

I'm not familiar with `vcpkg` but recently another used suggested as well.
Do you have MapWinGIS running with the GDAL packages? I'm mostly interested in if all file f

[2022-01-24 12:43] tangxiaodao commented on #219
It is recommended to use C++11 or C++14. After all, C++20 may not be stable yet. If it is possible, upload an ECW file and I will test it with GDAL3. In addition, BYTE is indeed a problem. When I use it, I usually define a macro :` typedef unsigned char BYTE`, or use `unsigned char` directly.

[2022-01-24 12:48] pmeems commented on #219
You can use the GDAL test files: http://download.osgeo.org/gdal/data/

[2022-01-24 12:51] tangxiaodao commented on #219
And vcpkg is very very very simple and easy to use, easy to install , easy to use. Similar to command "apt-install" under linux. If you need which package is installed directly using the command "vcpkg.exe install gdal", vcpkg auto compiled, the vcpkg result include the folders include(*.h), lib(*.lib), bin(*.dll), the work that needs to be done It is to add these references and libraries to the V

[2022-01-24 12:53] tangxiaodao commented on #219
ok,l'll test it.

[2022-01-24 13:01] tangxiaodao commented on #219
Are you not the original author of MapWinGis? Or are you maintaining the DotSpatial library? I have also test the DotSpatial library. I don't think its original architecture is very good. I tested Gdal with C# to open a large image, about 4GB, which is completely fine, but DotSpatial uses its own to create a pyramid, and it is very slow to open a large image. And there are still problems. I origin

[2022-01-24 13:10] pmeems commented on #219
I'm not the original author of MapWinGIS. I did do a lot of development using C# with MapWinGIS (testing) and MapWindow5.
I've never been involved with DotSpatial. We continued with MapWinGIS because of the slowness of DotSpatial ;)

Good to hear you are good in C++ en C#. We have a lot of plans to improve both MapWinGIS and MW5, after we migrate to GDAL3 and Proj6+.

[2022-01-24 14:09] tangxiaodao commented on #219
ECW is not a standard format of GDAL, neither GDAL2 nor GDAL3 support ECW, ECW is a commercial third-party library from Hexagon Geospatial, they provide a free read-only version, and writing is chargeable. So ECW has nothing to do with GDAL, both GDAL2 or GDAL3 support ECW extension, here are the screenshots of GDAL2 and GDAL3:
GDAL2:
![image](https://user-images.githubusercontent.com/12289997/150

[2022-01-24 14:49] pmeems commented on #219
You're right about the ECW-support.
But in the binaries from [gisinternals.com](https://www.gisinternals.com/packageinfo.php?file=release-1928-gdal-3-4-1-mapserver-7-6-4.zip#gdalversionDiv) ECW-support is enabled.
Making it the main reason why we use those files.

[2022-01-25 10:58] tangxiaodao commented on #219
I have read the code from https://github.com/MapWindow/MapWinGIS/tree/feature/MWGIS-244-VS2019-GDAL3-Proj8 , found tha,the gdal-data of GDAL3 not exsits pcs.csv, so the function `LoadProjectionStrings` from `Utils_Projections.cpp`  ,code `csvPath = thisOcxPath() + "gdal-data\\pcs.csv"` not need to be modified?

[2022-01-25 11:05] tangxiaodao commented on #219
In addition, in the related functions of` CGeoProjection::SetWellKnownGeogCS(...)`, do you need to add `_projection->OSRSetAxisMappingStrategy(...)`,maybe gdal3 need it?

[2022-01-25 15:35] pmeems commented on #219
Thanks @tangxiaodao for looking into this.

Currently I'm trying to get the whole build process working on my new VM and then I'll try to automate this using Azure Pipelines or GitHub Actions. Currently I can compile all 4 versions but can only register `Release|x64` and `Debug|Win32`.
Not sure why yet.

Jerry Faust Is very busy with upgrading ShapeLib, so we haven't yet had the chance to look int

[2022-01-26 13:18] pmeems commented on #219
I had huge issues with the new branch so I needed to create a new branch which is now compiling fine using VS2019 and GDAL3.
@tangxiaodao I hope you don't have too much changes on the old gdal branch, because it will be deleted soon.
The new branch is https://github.com/MapWindow/MapWinGIS/tree/feature/GDAL3-VS2019

And it might be easier to communicate via email: bontepaarden[at]gmail[dot]com ;)

[2022-01-26 14:10] tangxiaodao commented on #219
@pmeems Okay.I'll follow with u.And communicate with email.

[2022-02-01 05:59] jerryfaust commented on #218
The change has been submitted to the 'develop' branch, and MWGIS-255 has
been marked as 'Done'.

Thank you, Frank.

On Mon, Jan 24, 2022 at 2:32 AM Paul Meems ***@***.***> wrote:

[2022-02-02 10:54] pmeems commented on #219
@tangxiaodao It seems you know C++. Are you interested in helping fix the issue we have with upgrading LibSpatial?
It is explained at https://github.com/libspatialindex/libspatialindex/issues/224#issuecomment-1027673437

[2022-02-04 12:42] pmeems commented on #214
Sorry for the late reply. Questions like this can bet better asked on the forum: https://mapwindow.discourse.group/c/mapwingis/8

Tiles not in EPSG:3857 are projected on-the-fly. But because they are images they are only rotated resulting in the small gaps.
It is better to put your map in EPSG:3857, load the tiles and then open your shapefile.
This shapefile will now be projected and the view shou

[2022-02-04 12:42] #214 closed, assigned to pmeems

[2022-02-08 14:30] pmeems commented on #219
Can you share your GeoTiff or try using the latest binaries?
You can get them from the latest finished Github Action at https://github.com/MapWindow/MapWinGIS/actions
For example https://github.com/MapWindow/MapWinGIS/actions/runs/1812739847. At the bottom, you have the artifacts.
Download one of them and copy them over your existing binaries.
Most likely you need to run `regsvr32` to register the

[2022-02-09 05:28] tangxiaodao commented on #219
OK, I'll try it. If possible, it is recommended to set proj.db to a dynamic path.

[2022-02-09 05:35] tangxiaodao commented on #219
I'm sorry, I just see your this reply. I was busy with other work recently, so I didn't have noticed your reply.

[2022-02-09 07:52] pmeems commented on #219
The location of the proj.db is set by `PROJ_LIB`, so it is more or less dynamic.

[2022-02-09 08:04] tangxiaodao commented on #219
Will u try use CPLSetConfigOption("PROJ_LIB","<MyPath>\proj.db")?

[2022-02-09 08:08] tangxiaodao commented on #219
I am using vcpkg to configure the environment of MW for GDAL3 + proj 8 and rebuild the binary to try to reproduce your problem. It may take some time.

[2022-02-09 08:08] pmeems commented on #219
I've added your suggestion to [MWGIS-278: Check for PROJ_LIB and set if missing](https://mapwindow.atlassian.net/browse/MWGIS-278)
This issue is still open.

[2022-02-09 08:12] tangxiaodao commented on #219
Can I set up a separate branch for environmental testing of vcpkg configuration?

[2022-02-09 08:14] pmeems commented on #219
Yes you can.

This issue is getting really cluttered. Perhaps it is best to move the conversation to the forum: https://mapwindow.discourse.group/c/mapwingis/8 or contact me via email.

[2022-02-09 08:19] tangxiaodao commented on #219
Ok, I'll test it locally first, email you when needed, and push a branch for vcpkg.

[2022-02-09 08:28] tangxiaodao commented on #219
u can get geotiff files from opentopography website.

[2022-02-09 08:29] tangxiaodao commented on #219
u can get geotiff files from opentopography website.

[2022-02-09 09:25] pmeems commented on #219
I've downloaded the tiff from https://portal.opentopography.org/dataspace/dataset?opentopoID=OTDS.022020.32616.2
And opened it:
![image](https://user-images.githubusercontent.com/12067729/153164900-fcc65c13-49cb-46ba-8fad-bf0600e4dec7.png)

Seems to me that it is working.

I'm closing this issue now.  Please, create a new issue when you have a specific GeoTiff which is not working.

[2022-02-09 09:25] #219 closed, assigned to pmeems

[2022-02-17 15:25] pmeems commented on #216
I just tested with the dev-version and that version shows this result with the original mwd and mwx files:
![image](https://user-images.githubusercontent.com/12067729/154512785-d856160e-d560-4ff8-8620-9b0864756481.png)
And this result without them:
![image](https://user-images.githubusercontent.com/12067729/154513185-5cf41fbb-b379-475c-890b-971330b78f0d.png)

So something is definitively wrong.

I

[2022-05-24 05:57] defactoalok commented on #59
Hi, I am really impressed with Mapwingis.
But I am facing the same issue as above, the moment I change the Projection to WGS84 the application crashes after a couple of seconds. I am tying to display 4 shape files on openstreetmap using c# with latest Mapwingis and Visual Studio 2022.
Pleasae help.
Regards
Alok

[2022-05-24 12:51] jacksonmacd commented on #59
I haven't used MapWindow for several years. The issue remains unsolved for
me.

On Mon, May 23, 2022 at 10:57 PM defactoalok ***@***.***>
wrote:

--
------------------------------------
Jack

[2022-05-24 20:24] pradvk opened #220 "shift in vertex after mouseUp while using snap tool when vertex edit"
Issue in demo GUI of MapWinGIS and also in the binary of MapWindow v5 Stable release.

There is a small shift in the vertex after mouseUp event while using snap tool when in vertex edit mode.
I have attached a gif recording by zooming in after each mouse release to show the inaccuracy in snap position.
![snap](https://user-images.githubusercontent.com/6908974/170125401-0dfb6d34-b871-4d68-bab1-d46b

[2022-05-26 17:12] Aresiaaa opened #221 "MapWinGis.ocx fail to registered in Visual studio 2022"
**Describe the bug**
Failed to register MapWinGis.ocx on my visual studio 2022 Window Application.NET,
I downloaded the latest release 32bit version

**To Reproduce**
Steps to reproduce the behavior:
1. Open new window application form
2. Right click on tools to add com
3. Couldn't find Mapcontrol
4. Browse to C:/dev/MapWinGis
5. Chooose MapWinGis.OCX
6. Error "Failed to Register"
7. Open cmd and

[2022-08-21 10:56] Abdullah211w opened #222 "Transparent fill"
I want to draw a circle or a polygon with color fill of 50% opacity.
Can you help please?

[2022-09-15 03:03] ningfc opened #223 "Points layer display order may in correct."
Points layer display order may in correct.
Points on Top of layer disapeared if  has a duplicate point in other layer under it.
![image](https://user-images.githubusercontent.com/17332186/190303737-ee2bd3c9-ba3f-408a-bf00-6585e3258b29.png)

 - OS: Windows 11

[2022-10-12 10:18] frank2x460 opened #224 "Shape.get_XY does not work because of wrong interface-description"
Error in MapWinGIS.idl

interface IShape:

the entry for the get_XY function should be:
[id(38), helpstring("method get_XY")] HRESULT get_XY([in] LONG PointIndex, [in, out]double* x, [in, out]double* y, [out, retval] VARIANT_BOOL* retval);

WRONG:
[propget, id(38), helpstring("property XY")] HRESULT XY([in]long PointIndex, [in, out]double* x, [in, out]double* y, [out, retval] VARIANT_BOOL* retval)